<div ng-include="'headerTemplate.html'"></div>

<select ng-model="type">
  <option value="general">General Question or Comment</option>
  <option value="support">Support with Listing</option>
  <option value="bug">Report a bug</option>
  <option value="other">Other/Send Love</option>
</select>
<br>

Your Name: <input type="text" ng-model="senderName" placeholder="Captain America"><br>
Your E-mail Here: <input type="text" ng-model="senderEmail" placeholder="iamironman@live.unc.edu"><br>

<input type="text" ng-model="message" placeholder="Your Message Here"><br>


<button type="button" ng-show="submitComplete" ng-click="submit()">Send</button>

<div ng-hide="submitComplete"><h3>Thank you for contacting us. We will get back to you as soon as possible!</h3></div>
