<div ng-include="'headerTemplate.html'"></div>
    
    <div class="row">
        <div class="col-md-12"><h2>Textbook Listings</h2></div>
        
    </div>



	<div class="row">
		<div class="col-lg-6">
		<input type="text" class="top-nav-search-text" placeholder="Search..." ng-model="searchBar">
		<span class="input-roup-btn">
			<button class="btn btn-default top-nav-search-icon" type="button">
				<i class="fa fa-search"></i>
			</button>
		</span>
		</div>
	</div>
	<br>
	<div>
		<dir-pagination-controls></dir-pagination-controls>                             
        <div class="col-xs-8">
			<label for="search">Items Per Page:</label>
			<input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
		</div>
                                        
	</div>
	
	<table class="table table-striped table-bordered table-hover" id="dataTables-example" style="width-100%">
    	<thead>
    		<tr>                       
		        <th><a ng-click="sortType = 'textbookName'; sortReverse = !sortReverse; tnSortReverse = !tnSortReverse; aSortReverse = false; eSortReverse = false; pSortReverse = false">Textbook Title
					<span ng-show= "!tnSortReverse" class="fa fa-caret-down"></span><span ng-show= "tnSortReverse" class="fa fa-caret-up"></span>
		        </a></th>
		        <th><a ng-click="sortType = 'author'; sortReverse = !sortReverse; aSortReverse = !aSortReverse; tnSortReverse = false; eSortReverse = false; pSortReverse = false">Author
		        	<span ng-show= "!aSortReverse" class="fa fa-caret-down"></span><span ng-show= "aSortReverse" class="fa fa-caret-up"></span>
		        </a></th>
		        <th><a ng-click="sortType = 'edition'; sortReverse = !sortReverse; eSortReverse = !eSortReverse; tnsSortReverse = false; aSortReverse = false; pSortReverse = false">Edition
		        <span ng-show= "!eSortReverse" class="fa fa-caret-down"></span><span ng-show= "eSortReverse" class="fa fa-caret-up"></span>
		    	</a></th>
		        <th><a ng-click="sortType = 'price'; sortReverse = !sortReverse; pSortReverse = !pSortReverse; tnSortReverse = false; aSortReverse = false; eSortReverse = false">Price
		        <span ng-show= "!pSortReverse" class="fa fa-caret-down"></span><span ng-show= "pSortReverse" class="fa fa-caret-up"></span>
		    	</a></th>
	        </tr>
        </thead>
        <tbody>
        	<tr class="odd gradeX" dir-paginate-start="textbook in textbooks | orderBy:sortType:sortReverse | filter:searchBar | itemsPerPage:pageSize" current-page="currentPage">
        		<td><a ng-click="getTextbookInfo(textbook)">{{textbook.textbookName}}</a></td>
        		<td>{{textbook.author}}</td>
        		<td>{{textbook.edition}}</td>
        		<td>{{textbook.price | currency}}</td>
        	</tr>
        	<tr dir-paginate-end></tr>
   	</table>
