
/*test by mac
*/
.top-nav-search-text {
  height: 34px;
  padding: 0px 0px 2px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: solid;
  box-shadow: none;
  border-color: #ccc;
  border-width: 1px;  
}

.top-nav-search-icon {
  margin-left: -5px;
  border-radius: 0px 4px 4px 0px;
}

.sidebar {
  margin-top: 0px;
  width: 350px;
}

#page-wrapper {
  margin-left: 350px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 30px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

body {
 font-size: 12px; 
}
