
/*test by mac
*/
.top-nav-search-text {
  height: 34px;
  padding: 0px 0px 2px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: solid;
  box-shadow: none;
  border-color: #ccc;
  border-width: 1px;  
}

.top-nav-search-icon {
  margin-left: -5px;
  border-radius: 0px 4px 4px 0px;
}

.sidebar {
  margin-top: 0px;
  width: 350px;
}

#page-wrapper {
  margin-left: 350px;
}

/*.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 30px;
}*/

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

body {
 font-size: 12px; 
 padding:0px;
}

.mainContent {

}

.pageFooter {
  position:relative;
  bottom:0px;
  width:100%;
  margin: 0px auto;
  margin-top:30px;
}

#stripe {
  height:20px;
  margin:0px;
  background:#56A0D3;
}

#midStripe {
  background:#56a0d3;
  height:36px;
  z-index:2;
  width:15%;
  margin:0px auto;
  padding:8px;
  position:absolute;
  top:0px;
  left:42.5%;
  text-align:center;
  font-size:16px;
  color:#f8f8f8;
  font-weight:bold;
}
    #midStripe:before {
      content: '';
      position: absolute;
      bottom: 0; right: 0;
      border-bottom: 16px solid #444;
      border-left: 20px solid transparent;
      width: 0;
      z-index:1;
    }

    #midStripe:after {
      content: '';
      position: absolute;
      bottom: 0; left: 0;
      border-bottom: 16px solid #444;
      border-right: 20px solid transparent;
      width: 0;
      z-index:1;
    }

#footerContent {
  background:#444;
  height:;
  padding:30px 30px 5px 30px;
  color:#aaa;
  text-align:center;
}

  .infoAtBottom {
    position:relative;
    
  }
#updated {
  font-style:italic;
}

.homeBody {
  font-size:18px;
}

.homeBlurb {
  padding:10px;
}

.classRow input.form-control{
  display:inline;
}

.classRow .btn-xs{
  position:absolute;
  top:1px;
  right:-40px;
  height:30px;
  width:30px;
  border:1px solid #777;
  text-align:center;
  line-height:25px;
  font-size:25px;
  font-weight:bold;
}

form.form-horizontal em {
  color:#aaa;
}

.cancelBtn {
  background:#FF5050;
}

.submitBtn {
  background:#33CC33;
}

.navbar-listings {
  box-shadow:none;
  font-size:14px;
  background:#c9e3f5;
}

.navbar-listings .navbar-brand {
  color:#444;
  margin-left:inherit !important;
  cursor:default;
}
.navbar-listings .navbar-nav > li > a {
  font-size:14px;
  background:#c9e3f5;
  color:#555;
}

.navbar-listings .navbar-nav > li > a:hover,
.navbar-listings .navbar-nav > li > a:focus {
  color:#ff7863;
  background:#c9e3f5;
  transition: color 400ms;
}

.navbar-listings form {
  color:#333;
}

.navbar-listings label {
  font-weight:normal;
  color:#444;
}
.paginateControls div{
  display:inline;
  width:auto;
  margin:5px auto;
}

.inNavbar  {
  width:auto;
  display:inline;
}

.pagination {
  margin:0px 5px;
}

.newListing {
  position:relative;
  top:10px;
  background:#FF732F;
}
.content {
  background:#e8e8e8;
    border-radius:6px;
  color:#333;
  padding:15px;
  font-size:17px;
  margin:10px 0px;
}
.navbar-nav .activeSort {
  color:#ff7863 !important;
}

.listinCard {
}
.listingCard .mainPanel{
  background-color:#fff;
  margin:10px 0px;
  padding:;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  height:200px;
  transition:background-color 400ms;
  border-radius:5px;
}

/*.clickLayer {
  z-index:2;
  position:absolute;
  height:200px;
  background:#56a0d3;
  opacity:0;
  margin:10px 0px;
  width:100%;
  transition:opacity 400ms;
}

.clickLayer:hover,
.clickLayer:focus {
    opacity:0.2;
}*/

.listingCard .mainPanel:hover,
.listingCard .mainPanel:focus {
    background-color:rgba(255, 171, 138,0.3)
}

.priceTag {
  background:#ffab8a;
  border-radius:0%;
  padding:10px;
  font-size:16px;
  height:40px;
  width:;
  text-align:center;
  margin:15px 0px;
  color:#333;
  overflow:hidden;
}

.listingCard h3 {
    color:#3C7094;
}

.listingCard h4{
    text-align:left;
}

.listingDate {
  position:absolute;
  bottom:15px;
  right:15px;
  font-style:italic;
  font-size:14px;
}

.listingDescription {
  border-top:1px solid #ddd;
  padding:5px;
  width:100%;
  height:82px;
  font-size:13px;
  overflow:hidden;
}

.profile {
  width:300px;
  height:400px;
  display:inline-flex;
  float:left;
  margin:0px 15px 30px 15px;
  text-align:center;
  overflow:hidden;
  position:relative;
  border-radius:8px;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  font-size:16px;
}

.profile img {
  width:100%;
  position:absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.profileInfo {
  position:absolute;
  text-align:center;
  background:rgba(255,255,255,0.75);
  color:#333;
  top:360px;
}

    .profile h4 {
      font-size:20px;
    }

    .profile h5 {
      border-top:2px solid #FF732F;
      padding-top:15px;
    }

    

.profilePanel {
  display:inline-block;
  width:auto;
  overflow:hidden;
  margin:0px auto;
  text-align:center;
  float:left;
}

.profilePageArea {
  width:77%;
  overflow:hidden;
  margin:0px auto;
}