<div class="modal-header text-center">
	<h3 ng-hide="hideNewMessage">Congratulations! You finally decided to make a listing! {{phpDebug}}</h3>
	<h3 ng-hide="hideEditMessage">Edit your listing here yo!{{phpDebug}}</h3>
</div>

<form>
<div class="modal-body">

	<form class="form-horizontal">
		<h4 ng-hide="textbookHideObject">Textbook Information</h4><h4 ng-hide="accessoryHideObject">Accessory Information</h4><h4 ng-hide="serviceHideObject">Service Information</h4>
		
		<div class="form-group">
			<label ng-hide="textbookHideObject" for="inputTitle" class="col-sm-2 control-label">Textbook Title</label>
			<label ng-hide="accessoryHideObject" for="inputTitle" class="col-sm-2 control-label">Accessory Title</label>
			<label ng-hide="serviceHideObject" for="inputTitle" class="col-sm-2 control-label">Service Title</label>

			<div class="col-sm-4">
				<input ng-hide="textbookHideObject" type="text" class="form-control" id="inputTitle" placeholder="Rising Up: A book on Erectile Dysfunction" ng-model="newListing.textbookName">
				<input ng-hide="accessoryHideObject" type="text" class="form-control" id="inputTitle" placeholder="Used Condom" ng-model="newListing.accessoryName">
				<input ng-hide="serviceHideObject" type="text" class="form-control" id="inputTitle" placeholder="Rising Up: Mac will never read this. i am ronald ding and i am an asshole" ng-model="newListing.serviceName">
			</div>

			<label ng-hide="textbookHideObject" for="inputEdition" class="col-sm-2 control-label">Edition</label>
			<div ng-hide="textbookHideObject" class="col-sm-3">
				<select type="text" class="form-control" id="inputEdition" placeholder="First" ng-model="newListing.edition">
					<option>First</option>
					<option>Second</option>
					<option>Third</option>
					<option>Fourth</option>
					<option>Fifth</option>
					<option>Sixth</option>
					<option>Seventh</option>
					<option>Eighth</option>
					<option>Ninth</option>
					<option>Tenth</option>
					<option>Eleventh</option>
					<option>Twelfth</option>
					<option>Thirteenth</option>
					<option>Fourteenth</option>
					<option>Fifteenth</option>
					<option>Sixteenth</option>
					<option>Seventeenth</option>
					<option>Eighteenth</option>
					<option>Nineteenth</option>
					<option>Twentieth</option>

				</select>
			</div>
		</div>
		<div class="form-group">
			<label ng-hide="textbookHideObject" for="inputAuthor" class="col-sm-2 control-label">Author</label>
			<div ng-hide="textbookHideObject" class="col-sm-4">
				<input type="text" class="form-control" id="inputAuthor" placeholder="Ronald Ding" ng-model="newListing.author">
			</div>

			<label for="inputPrice" class="col-sm-2 control-label">Price</label>
			<div class="col-sm-3">
				<div class="input-group">
				  <span class="input-group-addon">$</span>
				  <input type="number" class="form-control" aria-label="Price" id="inputPrice" placeholder="$666" ng-model="newListing.price">
				</div>
			</div>
		</div>
		

		<div class="form-group">
			<label for="inputDescription" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-9">
				<textarea type="text" rows="5" class="form-control" id="inputDescription" placeholder="You don't even know" ng-model="newListing.description"></textarea>
			</div>
		</div>
		<div ng-hide="textbookHideObject" class="form-group">
			<label for="inputClass" class="col-sm-2 control-label">Class</label>
			<div class="col-sm-9">
				<form class="form-inline">
					<div class="classRow row">
						<div class="col-sm-2">
							<input type="text" class="form-control" id="inputClass" placeholder="BIOL 322" ng-model="newListing.classes[0]">
							<div type="button" class="btn-xs btn-default" ng-hide="hidebutton1" value="+" title="Add Another Class" ng-click="addClass2(); hidebutton1=true">
							+
							</div>
						</div>
						<div class="col-sm-2">
							<span ng-hide="class2">
								<input type="text" class="form-control" id="inputClass" ng-model="newListing.classes[1]"> 
								<div type="button" class="btn-xs btn-default" ng-hide="hidebutton2" value="+" title="Add Another Class" ng-click="addClass3(); hidebutton2=true">
									+
								</div>
							</span>
						</div>
						<div class="col-sm-2">
							<span ng-hide="class3">
								<input type="text" class="form-control" id="inputClass" ng-model="newListing.classes[2]"> 
								<button type="button" class="btn-xs btn-default" ng-hide="hidebutton3" value="+" title="Add Another Class" ng-click="addClass4(); hidebutton3=true">
								+
									</button>
							</span>
						</div>
						<div class="col-sm-2">
							<span ng-hide="class4">
								<input type="text" class="form-control" id="inputClass" ng-model="newListing.classes[3]"> 
								<button type="button" class="btn-xs btn-default" ng-hide="hidebutton4" value="+" title="Add Another Class" ng-click="addClass5(); hidebutton4=true">
									+
								</button>
							</span>
						</div>
						<div class="col-sm-2">
							<span ng-hide="class5">
								<input type="text" class="form-control" id="inputClass" ng-model="newListing.classes[4]">
							</span>
						</div>

					</div>
				</form>

			</div>
		</div>
	</form><br>

	<form class="form-horizontal">
		<h4>Your Information</h4>

		<div class="form-group">
			<label for="inputName" class="col-sm-4 control-label">Name</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="inputName" placeholder="Ronald the Prophet" ng-model="newListing.sellerName">
			</div>
		</div>
		<div class="form-group">
			<label for="inputContactInfo" class="col-sm-4 control-label">Contact Information <br><em>unc.edu e-mail preferred</em></label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="inputContactInfo" placeholder="fuckyou@duke.edu" ng-model="newListing.contactInfo">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-4 control-label">Password<br><em>used to edit this post later</em></label>
			<div class="col-sm-5">
				<input type="password" class="form-control" id="inputPassword" placeholder="123456" ng-model="newListing.password">
			</div>
		</div>
	</form><br>
	<form class="form-horizontal">
		<h4>Other Settings</h4>
		<div class="form-group">
			<label for="inputBuyorSell" class="col-sm-4 control-label">Submission Type</label>
			<div class="col-sm-5">
				<select class="form-control" ng-model="newListing.acceptingOffers">
				  <option value="true">I want to sell this item</option>
				  <option value="false">I want to buy this item</option>
				</select>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-md-3 text-left">
			<button type="button" class="btn btn-default btn-lg cancelBtn" ng-click="close()">
				  <span class="glyphicon glyphicon-remove" aria-hidden="true">
				  </span> Cancel
			</button>
		</div>
		<div class="col-md-6 text-center">
			<div ng-hide="hideEditMessage">
				<button ng-hide="hideDeleteButton" type="button" class="btn btn-default btn-lg deleteBtn" ng-click="pressDelete()">
					  <span class="fa fa-trash-o" aria-hidden="true"></span> 
					  Delete Listing
				</button>
				<div ng-hide="hideConfirmDelete">
					<div class="row">Are you sure you want to permanently delete this listing?</div>
					<div class="row">
						<div class="col-xs-6 text-right">
							<button type="button" class="btn btn-default btn-sm editInfo" ng-click="pussyOutAndDontDelete()">
								  No
							</button>
						</div>
						<div class="col-xs-6 text-left">
							<button type="button" class="btn btn-default btn-sm editInfo" ng-click="deleteListing()">
								  Yes
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-default btn-lg submitBtn" ng-click="submitListing()">
				  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
				  <span ng-hide="hideNewMessage">Submit Listing</span>
				  <span ng-hide="hideEditMessage">Save Changes</span>
			</button>
		</div>
	</div>
</div>
</form>