<div class="modal-area">

<div class="modal-header text-center newListingHeader">
	<h3 ng-hide="hideNewMessage">Congratulations! You finally decided to make a listing!</h3>
	<h3 ng-hide="hideEditMessage">Edit your listing here yo!</h3>
	<h3 ng-show="finalSubmitStage">Before you submit, agree to our terms.</h3>
</div>

<div ng-show="finalSubmitStage">
	<form name="agreeForm" ng-submit="submitListing(agreeForm.$valid)" novalidate>
		<div class="modal-body">
			Agree to our terms yo
			<div class="checkbox">
			    <label>
			      <input ng-model="newListing.agreement" name="agreeForm.agreement" type="checkbox" required> I agree to the Terms and Conditions outlined here, I am not a robot, and I pledge my allegiance to the flag of the United States of America
			    </label>
			</div>
		</div>
		<div class="modal-footer round-bot">
			<div class="row round-bot">
				<div class="col-md-3 text-left">
					<button type="button" class="btn btn-default btn-lg normalBtn" ng-click="backToNewListing()">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
						</span> Back
					</button>
				</div>
				<div class="col-md-6 text-center">
					
				</div>
				<div class="col-md-3">
					<button type="submit"  name="submit" class="btn btn-default btn-lg submitBtn" ng-disabled="agreeForm.$invalid" ng-class="{'form-incomplete':agreeForm.$invalid}">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						Agree and Submit
					</button>
				</div>
			</div>
		</div>
	</form>
</div>

<form ng-hide="finalSubmitStage" name="mainForm" ng-submit="continueSubmit(mainForm.$valid)" class="mainForm form-horizontal" novalidate>
	<div class="modal-body" style="background:transparent;">
		<h6><span class="fa fa-asterisk" aria-hidden="true"> required field</span></h6>
		<h4 ng-hide="textbookHideObject">Textbook Information</h4>
		<h4 ng-hide="accessoryHideObject">Accessory Information</h4>
		<h4 ng-hide="serviceHideObject">Service Information</h4>

		<div class="form-group">
			<label ng-hide="textbookHideObject" for="inputTitle" class="col-sm-2 control-label">Textbook Title</label>
			<label ng-hide="accessoryHideObject" for="inputTitle" class="col-sm-2 control-label">Item</label>
			<label ng-hide="serviceHideObject" for="inputTitle" class="col-sm-2 control-label">Post Title</label>

			<div
			class="col-sm-4 has-feedback"
			ng-class="{ 'has-error' :
			(mainForm.inputTexTitle.$invalid && mainForm.inputTexTitle.$touched) ||
			(mainForm.inputAccTitle.$invalid && mainForm.inputAccTitle.$touched) ||
			(mainForm.inputSerTitle.$invalid && mainForm.inputSerTitle.$touched) }"
			>
			<input ng-hide="textbookHideObject" type="text" class="form-control" name="inputTexTitle" placeholder="Rising Up: A book on Erectile Dysfunction" ng-model="newListing.textbookName"ng-required="!textbookHideObject">
			<span  ng-hide="textbookHideObject" class="fa fa-asterisk reqIcon form-control-feedback" aria-hidden="true"></span>
			<span ng-show="mainForm.inputTexTitle.$invalid && mainForm.inputTexTitle.$touched" class="help-block">A title is required.</span>
			<input ng-hide="accessoryHideObject" type="text" class="form-control" name="inputAccTitle" placeholder="Special Boxes" ng-model="newListing.accessoryName" ng-required="!accessoryHideObject">
			<span ng-hide="accessoryHideObject" class="fa fa-asterisk reqIcon form-control-feedback" aria-hidden="true"></span>
			<span ng-show="mainForm.inputAccTitle.$invalid && mainForm.inputAccTitle.$touched" class="help-block">A title is required.</span>
			<input ng-hide="serviceHideObject" type="text" class="form-control" name="inputSerTitle" placeholder="Piggy Back Rides" ng-model="newListing.serviceName" ng-required="!serviceHideObject">
			<span ng-hide="serviceHideObject" class="fa fa-asterisk reqIcon form-control-feedback" aria-hidden="true"></span>
			<span ng-show="mainForm.inputSerTitle.$invalid && mainForm.inputSerTitle.$touched" class="help-block">A title is required.</span>
		</div>

		<label ng-hide="textbookHideObject" for="inputEdition" class="col-sm-2 control-label">Edition</label>
		<div ng-class="{'has-error' : mainForm.inputEdition.$invalid && mainForm.inputEdition.$touched}" ng-hide="textbookHideObject" class="col-sm-3">
			<select type="text" class="form-control" name="inputEdition" ng-model="newListing.edition" ng-required="!textbookHideObject">
				<option value="No">No Edition</option>
				<option>First</option>
				<option>Second</option>
				<option>Third</option>
				<option>Fourth</option>
				<option>Fifth</option>
				<option>Sixth</option>
				<option>Seventh</option>
				<option>Eighth</option>
				<option>Ninth</option>
				<option>Tenth</option>
				<option>Eleventh</option>
				<option>Twelfth</option>
				<option>Thirteenth</option>
				<option>Fourteenth</option>
				<option>Fifteenth</option>
				<option>Sixteenth</option>
				<option>Seventeenth</option>
				<option>Eighteenth</option>
				<option>Nineteenth</option>
				<option>Twentieth</option>

			</select>
			<span ng-show="mainForm.inputEdition.$invalid && mainForm.inputEdition.$touched" class="help-block">An Edition is required.</span>
		</div>
	</div>
	<div class="form-group">
		<label ng-hide="textbookHideObject" for="inputAuthor" class="col-sm-2 control-label">Author</label>
		<div ng-hide="textbookHideObject" class="col-sm-4 has-feedback" ng-class="{'has-error':mainForm.inputAuthor.$invalid && mainForm.inputAuthor.$touched}">
			<input type="text" class="form-control" name="inputAuthor" placeholder="Barack Obama Mama" ng-model="newListing.author" ng-required="!textbookHideObject">
			<span class="fa fa-asterisk reqIcon form-control-feedback" aria-hidden="true"></span>
			<span ng-show="mainForm.inputAuthor.$invalid && mainForm.inputAuthor.$touched" class="help-block">Every book has an author.</span>
		</div>

		<label ng-hide="textbookHideObject" for="inputPrice" class="col-sm-2 control-label">Price</label>
		<label ng-hide="accessoryHideObject" for="inputPrice" class="col-sm-2 control-label">Price</label>
		<label ng-hide="serviceHideObject" for="inputPrice" class="col-sm-2 control-label">Compensation</label>
		<div class="col-sm-3" ng-class="{'has-error':mainForm.inputPrice.$touched && mainForm.inputPrice.$invalid}">
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="number" min="0" class="form-control" aria-label="Price" name="inputPrice" placeholder="123" ng-model="newListing.price">
			</div>
			<span ng-show="mainForm.inputPrice.$invalid && mainForm.inputPrice.$dirty" class="help-block">You can't buy something with those dollars.</span>
		</div>
	</div>


	<div class="form-group">
		<label for="inputDescription" class="col-sm-2 control-label">Description<br><em>Not required but highly recommended.</em></label>

		<div class="col-sm-9">
			<textarea type="text" rows="5" class="form-control" name="inputDescription" placeholder="You don't even know." ng-model="newListing.description"></textarea>
		</div>
	</div>
	<div class="form-group" ng-hide="textbookHideObject">
		<label for="inputISBN" class="col-sm-2 control-label">ISBN</label>
		<div class="col-sm-4" ng-class="{'has-error':mainForm.inputISBN.$invalid}">
			<input type="text" class="form-control" name="inputISBN" placeholder="1234567890" ng-model="newListing.ISBN" ng-minlength="10" ng-maxlength="13">
			<span ng-show="mainForm.inputISBN.$invalid" class="help-block">An ISBN must be 10 or 13 characters</span>
		</div>
	</div>
	<div class="form-group" ng-hide="textbookHideObject" >
		<label for="inputClass" class="col-sm-2 control-label">Class</label>
		<div class="col-sm-9">
			<div class="classRow row">
				<div class="col-sm-2">
					<input type="text" class="form-control" name="inputClass" placeholder="BIOL 322" ng-model="newListing.classes[0]">
					<div type="button" class="btn-xs btn-default" ng-hide="hidebutton1" value="+" title="Add Another Class" ng-click="addClass2(); hidebutton1=true">
						+
					</div>
				</div>
				<div class="col-sm-2">
					<span ng-hide="class2">
						<input type="text" class="form-control" name="inputClass" ng-model="newListing.classes[1]">
						<div type="button" class="btn-xs btn-default" ng-hide="hidebutton2" value="+" title="Add Another Class" ng-click="addClass3(); hidebutton2=true">
							+
						</div>
					</span>
				</div>
				<div class="col-sm-2">
					<span ng-hide="class3">
						<input type="text" class="form-control" name="inputClass" ng-model="newListing.classes[2]">
						<button type="button" class="btn-xs btn-default" ng-hide="hidebutton3" value="+" title="Add Another Class" ng-click="addClass4(); hidebutton3=true">
							+
						</button>
					</span>
				</div>
				<div class="col-sm-2">
					<span ng-hide="class4">
						<input type="text" class="form-control" name="inputClass" ng-model="newListing.classes[3]">
						<button type="button" class="btn-xs btn-default" ng-hide="hidebutton4" value="+" title="Add Another Class" ng-click="addClass5(); hidebutton4=true">
							+
						</button>
					</span>
				</div>
				<div class="col-sm-2">
					<span ng-hide="class5">
						<input type="text" class="form-control" name="inputClass" ng-model="newListing.classes[4]">
					</span>
				</div>

			</div>
		</div>
	</div>

	<br>

	<h4>Your Information</h4>

	<div class="form-group">
		<label for="inputName" class="col-sm-4 control-label">Name</label>
		<div class="col-sm-5 has-feedback" ng-class="{'has-error' : mainForm.inputName.$touched && mainForm.inputName.$invalid}">
			<input type="text" class="form-control" name="inputName" placeholder="Ronald the Prophet" ng-model="newListing.sellerName" required>
			<span class="fa fa-asterisk reqIcon form-control-feedback" aria-hidden="true"></span>
			<span ng-show="mainForm.inputName.$invalid && mainForm.inputName.$touched" class="help-block">If we don't have this, edit functionality won't work because Ronald's code is sloppy. It's not sloppy; it's just too beautiful to be comprehended by the unenlightened.</span>
		</div>
	</div>
	<div class="form-group">
		<label for="inputContactInfo" class="col-sm-4 control-label">Contact Information <br><em>unc.edu e-mail preferred</em></label>
		<div class="col-sm-5 has-feedback" ng-class="{'has-error':mainForm.inputContactInfo.$touched && mainForm.inputContactInfo.$invalid}">
			<input type="text" class="form-control" name="inputContactInfo" placeholder="thebookthief@live.unc.edu" ng-model="newListing.contactInfo" required>
			<span class="fa fa-asterisk reqIcon form-control-feedback" aria-hidden="true"></span>
			<span ng-show="mainForm.inputContactInfo.$touched && mainForm.inputContactInfo.$invalid" class="help-block">Do you want people to buy from you or not?</span>
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword" class="col-sm-4 control-label">Password<br><em>used to edit this post later</em></label>
		<div class="col-sm-5 has-feedback" ng-class="{'has-error':mainForm.inputPassword.$touched && mainForm.inputPassword.$invalid}" ng-class="{'has-warning':newListing.password=='password'}">
			<input type="password" class="form-control" name="inputPassword" placeholder="password" ng-model="newListing.password" required>
			<span class="fa fa-asterisk reqIcon form-control-feedback" aria-hidden="true"></span>
			<span ng-show="mainForm.inputPassword.$touched && mainForm.inputPassword.$invalid" class="help-block">Required field. Just don't make it 'password'.</span>
			<span ng-show="newListing.password=='password'" class="help-block">You little fucker.</span>
			<span ng-show="mainForm.inputPassword.$valid" ng-hide="(newListing.password=='password') || (mainForm.inputPassword.$touched && mainForm.inputPassword.$invalid) || (mainForm.inputPassword.$pristine)" class="help-block">We don't actually give a shit about your password strength.</span>
		</div>
	</div>

	<br>

	<h4>Other Settings</h4>
	
	<div class="form-group">
		<label for="inputBuyorSell" class="col-sm-4 control-label">Submission Type</label>
		<div class="col-sm-5">
			<select class="form-control" ng-model="newListing.acceptingOffers">
				<option value="true">I want to sell this item</option>
				<option value="false">I want to buy this item</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-hide="hideCurrentImages">
		<label for="uploadImage" class="col-sm-4 control-label">Your images<br><p class="help-block"><em>These are your current images. Delete these or upload new ones below.</em></p></label>
		<div class="col-sm-5" id="currentFiles">
				<div class="currentImage text-center" ng-repeat="image in currentImages track by $index">
					 <div class="thumbnailPosition"><img ng-src="{{'img/useruploads/files/thumbnail/'+image}}"></div>
					 <div class="delete current-delete" data-type="DELETE" data-url="{{imageDeleteUrl+image}}" id="{{image}}"><i class="fa fa-times"></i></div>
				</div>
		</div>
	</div>
	<div class="form-group">
		<label for="uploadImage" class="col-sm-4 control-label">Upload Images<br><p class="help-block"><em>Upload up to 4 images, no more than 2.5 MB each. Accepted file types are jpg, png, and gif.</em></p></label>
		<div class="col-sm-5">
			<file-uploader>
			</file-uploader>
		</div>
	</div>

</div>
<div class="modal-footer round-bot">
	<div class="row round-bot">
		<div class="col-md-3 text-left">
			<button type="button" class="btn btn-default btn-lg cancelBtn" ng-click="close()">
				<span class="glyphicon glyphicon-remove" aria-hidden="true">
				</span> Cancel
			</button>
		</div>
		<div class="col-md-6 text-center">
			<div ng-hide="hideEditMessage">
				<button ng-hide="hideDeleteButton" type="button" class="btn btn-default btn-lg deleteBtn" ng-click="pressDelete()">
					<span class="fa fa-trash-o" aria-hidden="true"></span>
					Delete Listing
				</button>
				<div ng-hide="hideConfirmDelete">
					<div class="row">Are you sure you want to permanently delete this listing?</div>
					<div class="row">
						<div class="col-xs-6 text-right">
							<button type="button" class="btn btn-default btn-sm editInfo" ng-click="pussyOutAndDontDelete()">
								No
							</button>
						</div>
						<div class="col-xs-6 text-left">
							<button type="button" class="btn btn-default btn-sm editInfo" ng-click="deleteListing()">
								Yes
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<button type="submit"  name="submit" class="btn btn-default btn-lg submitBtn" ng-disabled="mainForm.$invalid" ng-class="{'form-incomplete':mainForm.$invalid}">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				<span ng-hide="hideNewMessage">Submit Listing</span>
				<span ng-hide="hideEditMessage">Save Changes</span>
			</button>
		</div>
	</div>
</div>
</form>
</div>